@model Organic_Zone.Models.Item

@{
    ViewBag.Title = "Create";
}

<div class="contact-top-agileinfo">
    <div class="container">
        <h3 class="title-w3layouts contact-head">Add Store Item</h3>
    </div>
</div>


<div class="jarallax contact-bottom contact-right-w3l" id="contact">
    <div class="col-md-7">
        <h3 class="title-w3layouts white-agileits">Add new FAQ</h3>
        @using (Html.BeginForm("Create", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <input type="file" required accept="image/png, image/jpeg" id="Image" name="Image" />

            @Html.TextBoxFor(m => m.ItemName, new { placeholder = "Item Name" })

            @Html.TextBoxFor(m => m.Price, new { placeholder = "Price" })

            @Html.TextBoxFor(m => m.Discount, new { placeholder = "Discount" })

            @Html.TextAreaFor(m => m.Description, new { placeholder = "Description" })

            <input type="submit" value="Add Item" />
        }
    </div>
    <div class="clearfix"></div>
</div>