@model Organic_Zone.Models.Item

@{
    ViewBag.Title = "Edit Item";
}


<div class="contact-top-agileinfo">
    <div class="container">
        <h3 class="title-w3layouts contact-head">Add Store Item</h3>
    </div>
</div>


<div class="jarallax contact-bottom contact-right-w3l" id="contact">
    <div class="col-md-7">
        <h3 class="title-w3layouts white-agileits">Add new item</h3>
        @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="wthree_work_grid1">
                <a href="@Model.Thumbnail" class="b-link-stripe b-animate-go  swipebox" title="@Model.ItemName">
                    <div class="agile_work_grid w3_agileits_sub_work">
                        <img src="@Model.Thumbnail" alt=" " class="img-responsive" />
                        <div class="agileits_w3layouts_work">
                            @Model.ItemName
                        </div>
                    </div>
                </a>
            </div>

            @Html.HiddenFor(m => m.Thumbnail);

            <input type="file" accept="image/png, image/jpeg" id="Image" name="Image" />

            @Html.TextBoxFor(m => m.ItemName, new { placeholder = "Item Name" })
            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.Price, new { placeholder = "Price" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.Discount, new { placeholder = "Discount" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            @Html.TextAreaFor(m => m.Description, new { placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            <input type="submit" value="Save Changes" />
        }
    </div>
    <div class="clearfix"></div>
</div>
